body, html, #root, #app {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  align-items: center;
  background-color: #0ad;
  display: flex;
  flex-direction: column;
  height: 47.5%;
  justify-content: center;
  width: 100%;
}


.color-box {
  align-items: center;
  border: 1em solid #444;
  border-radius: 50px;
  display: flex;
  height: 90%;
  justify-content: center;
  width: 90%;
}

#blog-post {
  background-color: orange;
  text-align: center;
}

#seperator {
  background-color: grey;
  height: 5%;
  width: 100%;
}

.comment {
  background-color: white;
  border-radius: 10px;
  border: 5px solid purple;
  margin: 10px;
  padding: 3px;
  text-align: center;
  width: 80%;
}
